<div class="album py-5 bg-light">
  <div class="container" style="max-width: 800px;">

    <div *ngFor="let picture of allPhotosResponse">
      <div class="card mb-3">
        <div class="card-body">

          <h5 (click)="onViewUserProfile(picture?.ownerId)" class="card-title" routerLink="view-profile">
            {{picture.name}}</h5>
        </div>
        <img [src]="picture.picByte" class="card-img-top">
        <div class="card-body">
          <p class="card-text">{{ picture.description }} </p>
          <button class="btn"><i class="bi bi-heart"></i> </button>
          <button class="btn" (click)="getComments(picture?.id)"><i class="bi bi-chat"></i> </button>
          <button class="btn"><i class="bi bi-share"></i> </button>



          <div *ngFor="let comment of comments">
            <div *ngIf="picture?.id == comment?.photoId">
              <h5 id="commentUserName">{{ comment.authorName }}:</h5>
              <p id="commentDescription"> {{ comment.description }} </p>
            </div>

          </div>
          <div class="input-group mb-3" id="commentInputBar">

            <button (click)="addComment(currentUserId, picture.id, description)" class="btn btn-outline-secondary"
              type="button" id="button-addComment">Add
              Comment!</button>
            <input [(ngModel)]="description" type="text" class="form-control" placeholder="">
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>