<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">PhotoShareApp</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>

      <div class="d-flex">
        <input [(ngModel)]="searchName" *ngIf="isLoggedIn" class="form-control me-2" type="text" placeholder="Search">
        <button (click)="onSearchUser()" routerLink="search" class="btn btn-outline-success" type="submit"
                *ngIf="isLoggedIn">Search
        </button>
      </div>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
