<div class="container " *ngIf="currentUser; else loggedOut" id="main-container">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser?.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Email:</strong>
    {{ currentUser?.email }}
  </p>
  <p>
    <strong>Name:</strong>
    {{ currentUserData?.name }}
  </p>


  <!-- z Modalami -->
  <i (click)="onOpenModal(user, 'edit')" type="button" class="btn btn-outline-primary">Edit profile</i><br>
  <br>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>

  <div class="container row">
    <div class="col-md-12">
      <h1>Upload Image</h1>
    </div>
  </div>
  <div class="container row">
    <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">
      <input type="button" (click)="onUpload()" value="upload">
    </div>
  </div>
  <hr />
  <div class="container row">
    <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
    </div>
  </div>
  <!-- <div class="container row">
    <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" />
    </div>
    <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">
    </div>
  </div> -->
  <!-- <div class="container row">
    <div class="col-md-12">
      <div *ngIf=retrievedImage>
        <img [src]="retrievedImage" class="img-fluid">
      </div>
    </div>
  </div> -->

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let photo of allPhotosData">
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="photo" class="img-fluid">

              <div class="card-body">
                <p class="card-text">Tutaj może będzie jakiś opis.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button (click)="onOpenViewPhoto(photo)" type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#imageModal">View</button>
                    <button (click)="onDeleteImage(17)"  type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Image Modal -->
<div class="modal fade" id="imageModal">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <img [src]="photo" class="img-fluid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- EDIT MODAL -->
<div class="modal fade" id="editUserModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">

        <!-- <form #editForm="ngForm"> -->
        <div class="mb-3">
          <label for="nameInput" class="form-label">Name</label>
          <input type="text" [(ngModel)]="nameForm">
        </div>

        <div class="mb-3">
          <label for="userNameInput" class="form-label">User name</label>
          <input type="text" [(ngModel)]="userNameForm">
        </div>

        <div class="mb-3">
          <label for="emailInput" class="form-label">Email</label>
          <input type="text" [(ngModel)]="emailForm">
        </div>

        <!-- <div class="alert alert-danger" 
          role="alert" 
          *ngIf="editUser.name === ''">
            Username is required!
          </div> -->


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="onEditUserData(editUser)" data-bs-dismiss="modal" type="button" class="btn btn-primary">Save
            changes</button>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>