<div class="container" id="main-container">
	<h2 style="text-align: center;">Found Users: </h2>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">User name</th>

				<th scope="col">Name </th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody *ngFor="let user of searchedUsers">
			<tr>
				<td>{{user?.username}}</td>
				<td>{{ user?.name }}</td>
				<td>
					<div class="btn-group" role="group">
						<button (click)="onViewProfile(user?.id)" type="button" class="btn btn-outline-primary">View
							profile</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>