<!-- Background image -->
<div class="bg-image p-5 text-center shadow-1-strong  col-md-12 text-white" style="background-image: url('../../assets/home_page_images/background.jpg');
    height: 100vh;
    background-size: cover;
  ">

  <h1 style="margin-top: 20vh;
    color: white;
    font-size: 70px;
  "> Welcome to PhotoShareApp!</h1>

  <p style="font-size: 25px;
  margin-top: 3vh;
  ">Place where you can share photos with whole internet!</p>

  <a href="http://localhost:4200/user" class="btn btn-outline-light" style="margin-top: 2vh;
  font-size: 20px;
  " *ngIf="isLoggedIn; else elseBlock">Go to photos</a>

  <ng-template #elseBlock>
  <a href="http://localhost:4200/register" class="btn btn-outline-light" style="margin-top: 2vh;
  font-size: 20px;
  ">Register now!</a>
  </ng-template>
</div>



<!-- <img src="../../assets/home_page_images/1.jpg"> -->